#expression {
	width: 100%;
	height: 30%;
	float: clear;
	background-color: #fff8e1;
}

.button_row {
	width: 100%;
	height: 17.5%;
	overflow: auto;

}

.button {
	width:19.99999%;
	height: 100%;
	background-color: #ffc107;
	float: right;
	display: inline-block;
	*display: inline;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
}
