#container {
	height: 100%;
	width: 100%;
}

#top_bar {
	width: 100%
	height: 5%
	background-color: #00BCD4
}

#io {
	font-family: 'Open Sans', sans-serif;	
	width: 100%;
	height: 30%;
	box-shadow: 0px 4px 8px #888888;
	z-index: 9;

	line-height: 100px;

}

#expression {
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 5em;
	opacity: 0.6;
	width: 100%;
	height: 50%;
	float: clear;
	background-color: #FFFFFF;

	text-align: left;

	border-bottom-style: dotted;
	border-color: rgba(0, 0, 0, 0.2);

	vertical-align: middle;
}

#expression span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

#answer {
	width: 100%;
	height: 50%;
	font-size: 5em;
	opacity: 0.3;
	float: clear;
	background-color: #FFFFFF;
	
	text-align: right
}

#answer span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

#buttons {
	box-shadow: 0px 2px 5px #888888;
	z-index: 1;
}

#buttons span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;	
}

.button_row {
	width: 100%;
	height: 17.5%;
	overflow: auto;

}

.button {
	width:19.99999%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #80DEEA;
	float: left;
	display: inline-block;
	*display: inline;
	text-align: center;
	vertical-align: middle;

	/*line-height: 200px;*/
	font-size: 3em;
	color: rgba(0, 0, 0, 0.8);

	display: inline-block;

	opacity: 0.9;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;

	position: relative;

	z-index: 0;
}

#special_buttons span {
	height: 100%;
	vertical-align: middle;
	display: inline-block;	
}

.special_button_row {
	width: 100%;
	height: 20%;
	overflow: auto;

}

.special_button {
	width: 50%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #A3E9A4;
	float: left;
	display: inline-block;
	*display: inline;
	text-align: center;
	vertical-align: middle;

	/*line-height: 200px;*/
	font-size: 3em;
	color: rgba(0, 0, 0, 0.8);

	display: inline-block;

	opacity: 0.9;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;

	position: relative;

	z-index: 0;
}

.special_button:hover {
	background-color: #72D572;
}

button:hover {
	background-color: #26C6DA;
}

.button:hover {
	background-color: #26c6da
}

#special_buttons {
	background-color: #D0F8CE;

	width: 0%;
	height: 83%;
	/*display: none;*/
	position: fixed;
	bottom: 1%;
	left: 1%;

	box-shadow: 0px 0px 5px #888888;

	z-index: 100;
}

a:link {
	color: #000000;	
}

a:visited {
    background-color: #000000;
}

a:hover {
    background-color: #000000;
}

a:active {
    background-color: #000000;
}
