#top_bar {
	width: 100%
	height: 5%
	background-color: #00BCD4
}

#expression {
	font-family: 'Open Sans', sans-serif;
	font-size: 10em;
	color: rgba(0, 0, 0, 0, 0.8);	
	padding: 10px;
	width: 100%;
	height: 25%;
	float: clear;
	background-color: #FFFFFF;

	box-shadow: 0px 2px 5px #888888;
	z-index: 9;
}

#buttons {
	box-shadow: 0px 2px 5px #888888;
	z-index: 1;
}

.button_row {
	width: 100%;
	height: 17.5%;
	overflow: auto;

}

.button {
	width:19.99999%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #80DEEA;
	float: right;
	display: inline-block;
	*display: inline;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 5em;
	color: rgba(0, 0, 0, 0.8);
}

a:link {
	color: #000000;	
}

a:visited {
    background-color: #000000;
}

a:hover {
    background-color: #000000;
}

a:active {
    background-color: #000000;
}
