<script>
function go_to_calculate()
{
	// Get the content of the expression div
	var expression = document.getElementById("expression").innerText;

	// Make expression query safe and pass it via URL
	var querySafeExpression = expression.replace(/\+/g, "%2B");
	window.location.href = "/calculator/calculate?expression=" + querySafeExpression;
}
</script>

<h1>Welcome To Calc On Rails</h1>

<div id="expression">
1+1
</div>

<div id="buttons">
	<div id="button_row_1" class="button_row">

		<div id="button_7" class="button">

		</div>

		<div id="button_8" class="button">

		</div>

		<div id="button_9" class="button">

		</div>

		<div id="button_del" class="button">

		</div>

		<div id="button_clear" class="button">

		</div>

	</div>
	<div id="button_row_2" class="button_row">
		
		<div id="button_4" class="button">

		</div>

		<div id="button_5" class="button">

		</div>

		<div id="button_6" class="button">

		</div>

		<div id="button_times" class="button">

		</div>

		<div id="button_divide" class="button">

		</div>


	</div>
	<div id="button_row_3" class="button_row">

		<div id="button_1" class="button">

		</div>

		<div id="button_2" class="button">

		</div>

		<div id="button_3" class="button">

		</div>

		<div id="button_plus" class="button">

		</div>

		<div id="button_minus" class="button">

		</div>


	</div>
	<div id="button_row_4" class="button_row">

		<div id="button_0" class="button">

		</div>

		<div id="button_point" class="button">

		</div>

		<div id="button_pow" class="button">

		</div>

		<div id="button_blank" class="button">

		</div>

		<div id="button_exec" class="button">

		</div>

	
	</div>
</div>
