<%= javascript_include_tag "jquery-2.1.1.min.js" %>

<script>

$(document).ready(function() {
		$("#button_blank").click(function() {
				if( $("#special_buttons").width() != 0 )
				{
					//$("#special_buttons").width("0%");
					$("#special_buttons").animate({width:"0%"});
				}
				else
				{
					//$("#special_buttons").width("40%");
					$("#special_buttons").animate({width:"40%"});
				}
				
				});
		});

$(document).ready(function() {
			$("#io").click(function() {
					$("#special_buttons").width("0%");
				});
		});

</script>

<script>

var currentExpression = [];

function go_to_calculate()
{
	// Get the content of the expression div
	//var expression = document.getElementById("expression").innerText;
	var expression = currentExpression.join("");

	// Make expression query safe and pass it via URL
	var querySafeExpression = expression.replace(/\+/g, "%2B");
	querySafeExpression = querySafeExpression.replace(/\^/g, "%5E");

	evaluate(querySafeExpression);
}

function add_to_expression(button)
{
	$("#special_buttons").width("0%");

	if( button == "del" )
	{
		// Then we wnat to delete the last entered item
		currentExpression.pop(button);
		ensure_expression_size(currentExpression.join(""));
		document.getElementById("expression").innerHTML = "<span></span>" + currentExpression.join(" ");
	}
	else if( button == "clear" )
	{
		currentExpression = [];
		document.getElementById("expression").innerText = "";
	}
	else
	{
		// Add the new expression to the div
		currentExpression.push(button);
		ensure_expression_size(currentExpression.join(""));
		document.getElementById("expression").innerHTML = "<span></span>" + currentExpression.join("");
	}

	// Make query safe and use the AJAX evaluate function to get the result of it
	var querySafeExpression = document.getElementById("expression").innerText.replace(/\+/g, "%2B");
	querySafeExpression = querySafeExpression.replace(/\^/g, "%5E");

	evaluate(querySafeExpression);
}

function evaluate(expression)
{
	var xmlhttp;

	if(window.XMLHttpRequest)
	{
		xmlhttp = new XMLHttpRequest();
	}
	else
	{
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}

	xmlhttp.onreadystatechange = function() 
	{
		if(xmlhttp.readyState == 4 && xmlhttp.status == 200)
		{
			document.getElementById("answer").innerHTML = "<span></span>" + xmlhttp.responseText;
		}

	}

	xmlhttp.open("GET", "/calculator/calculate?expression="+expression, true);
	xmlhttp.send();
}

function ensure_expression_size(new_expression)
{
	var expression_tag = document.getElementById("expression");

	if( new_expression.length > 20 )
	{
		expression_tag.style.fontSize = 5 - ( 0.18 *  (1 + (new_expression.length-20))) + "em"; 
	}
	else expression_tag.style.fontSize = "5em";
}


</script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag("index.css") %>

<div id="container">

<div id="io">
	<div id="expression">

	</div>

	<div id="answer">

	</div>
</div>

<div id="buttons">
	<div id="button_row_1" class="button_row">
		
		<a href="#" onclick="add_to_expression('7');">
			<div id="button_7" class="button">
				<span></span>7
			</div>
		</a>
		
		<a href="#" onclick="add_to_expression('8');">
			<div id="button_8" class="button">
				<span></span>8
			</div>
		</a>
		
		<a href="#" onclick="add_to_expression('9');">
			<div id="button_9" class="button">
				<span></span>9
			</div>
		</a>
		
		<a href="#" onclick="add_to_expression('del');">
			<div id="button_del" class="button">
				<span></span>DEL
			</div>
		</a>

		<a href="#" onclick="add_to_expression('clear')">
			<div id="button_clear" class="button">
				<span></span>AC
			</div>
		</a>

	</div>
	<div id="button_row_2" class="button_row">

		<a href="#" onclick="add_to_expression('4');">
			<div id="button_4" class="button">
				<span></span>4
			</div>
		</a>

		<a href="#" onclick="add_to_expression('5')">
			<div id="button_5" class="button">
				<span></span>5
			</div>
		</a>

		<a href="#" onclick="add_to_expression('6')">
			<div id="button_6" class="button">
				<span></span>6
			</div>
		</a>

		<a href="#" onclick="add_to_expression('*')">
			<div id="button_times" class="button">
				<span></span>*
			</div>
		</a>
		
		<a href="#" onclick="add_to_expression('/')">
			<div id="button_divide" class="button">
				<span></span>/
			</div>
		</a>

	</div>
	<div id="button_row_3" class="button_row">

		<a href="#" onclick="add_to_expression('1')">
			<div id="button_1" class="button">
				<span></span>1
			</div>
		</a>

		<a href="#" onclick="add_to_expression('2')">
			<div id="button_2" class="button">
				<span></span>2
			</div>
		</a>
		
		<a href="#"  onclick="add_to_expression('3')">
			<div id="button_3" class="button">
				<span></span>3
			</div>
		</a>

		<a href="#" onclick="add_to_expression('+')">
			<div id="button_plus" class="button">
				<span></span>+
			</div>
		</a>

		<a href="#" onclick="add_to_expression('-')">
			<div id="button_minus" class="button">
				<span></span>-
			</div>
		</a>

	</div>
	<div id="button_row_4" class="button_row">
		
		<a href="#" onclick="add_to_expression('0')">
			<div id="button_0" class="button">
				<span></span>0
			</div>
		</a>

		<a href="#" onclick="add_to_expression('.')">
			<div id="button_point" class="button">
				<span></span>.
			</div>
		</a>

		<a href="#" onclick="#">
			<div id="button_blank" class="button">
				<span></span>S
			</div>
		</a>

		<a href="#" onclick="add_to_expression('^')">
			<div id="button_pow" class="button">
				<span></span>^
			</div>
		</a>

		<a href="#" onclick="go_to_calculate()">
			<div id="button_exec" class="button">
				<span></span>EXEC
			</div>
		</a>

	</div>
</div>

<div id="special_buttons">

	<div id="special_button_row_1" class="special_button_row">
		<a href="#" onclick="add_to_expression('(')">
			<div id="button_open_bracket" class="special_button">
				<span></span>(
			</div>
		</a>

		<a href="#" onclick="add_to_expression(')')">
			<div id="button_close_bracket" class="special_button">
				<span></span>)
			</div>
		</a>
	</div>
	
	<div id="special_button_row_2" class="special_button_row">
		<a href="#" onclick="add_to_expression('ln(')">
			<div id="button_ln" class="special_button">
				<span></span>ln
			</div>
		</a>

		<a href="#" onclick="add_to_expression('log(')">
			<div id="button_log" class="special_button">
				<span></span>log
			</div>
		</a>
	</div>

	<div id="special_button_row_3" class="special_button_row">
		<a href="#" onclick="add_to_expression('sin(')">
			<div id="button_sin" class="special_button">
				<span></span>sin
			</div>
		</a>

		<a href="#" onclick="add_to_expression('arcsin(')">
			<div id="button_arcsin" class="special_button">
				<span></span>asin
			</div>
		</a>
	</div>

	<div id="special_button_row_4" class="special_button_row">
		<a href="#" onclick="add_to_expression('cos(')">
			<div id="button_cos" class="special_button">
				<span></span>cos
			</div>
		</a>

		<a href="#" onclick="add_to_expression('arccos(')">
			<div id="button_arccos" class="special_button">
				<span></span>acos
			</div>
		</a>
	</div>

	<div id="special_button_row_5" class="special_button_row">
		<a href="#" onclick="add_to_button('tan(')">
			<div id="button_tan" class="special_button">
				<span></span>tan
			</div>
		</a>

		<a href="#" onclick="add_to_button('arctan(')">
			<div id="button_arctan" class="special_button">
				<span></span>atan
			</div>
		</a>
	</div>

</div>

</div>
